
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

  body {
    height: 1vh;
    overflow: scroll;
    font-family:'Oswald';
    font-style: normal;
    margin: auto;
   
  }

  /* homepage stying starts here */

  nav {
    width:85%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    align-items:center ;
    padding-top: 30px;
    padding-bottom: 30px; 
  }

  .nav-btn {
    background-color: transparent;
    border: 0;
    text-align: center;
    font-size: 14px;
    color: #333136;
    

  }

  .awardWinningSection {
 
    display:flex;
    flex-direction: column;
    color:#ffffff ;
    background-color:#e7816b;
    border-radius: 25px;
    height: max-content;
    padding-top: 20px;
    width: 95%;
    margin: auto;
  }

  .awardWinningCustoms-container {
    width: 65%;
    height: max-content;
    margin: auto;
  }

  h1 {
    font-weight:lighter;
    font-size: 48px;
    text-align: center;
  }

  .awardWinningCustoms-container-p {
    font-size: 16px;
    text-align: center;
    width: 75%;
    margin: auto;
    padding-bottom: 20px;
  }

  .awardWinning-btn {
    display: block;
    background-color:#ffffff;
    height: 52px;
    width:max-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
    border: 0;
    font-size: 15px;
    margin: auto;
  }

  .Frame {
    height: 300px;
    margin: auto;
  }

  .homepage-projects-section {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-between;
    height: max-content;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .homepage-projects-container {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-image:url(./assets/home/tablet/image-web-design.jpg );
    background-color: black;
    background-repeat: no-repeat;
    object-fit: fill;
    height:200px;
    border-radius: 15px;
    margin-bottom: 15px;
  
  }

  .homepage-projects-container-2 {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-image:url(./assets/home/tablet/image-app-design.jpg);
    background-color: black;
    background-repeat: no-repeat;
    object-fit: fill;
    height:200px;
    border-radius: 15px;
    margin-bottom: 15px;
  
 
  }

  .homepage-projects-container-3 {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    background-image:url(./assets/home/tablet/image-graphic-design.jpg);
    background-color: black;
    background-repeat: no-repeat;
    object-fit: fill;
    height:200px;
    border-radius: 15px;
    margin-bottom: 15px;
  }

  .homepage-project-text {
    width: fit-content;
    margin: auto;
   text-align: center;
  }

  h2 {
    margin: auto;
    font-size: 40px;
    font-weight: normal;
  }

  .homepage-project-btn {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    width: fit-content;
    text-align: center;
   
  }

  span {
    color: #e7816b;
    font-size: 13px;
  }

  .about-us-homepage-container {
    height: max-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: auto;
    margin-bottom: 30px;
    align-content: center;
    flex-wrap: wrap;
  }

  .about-us-homepage-text {
    color:#333136;
    margin: auto;
  }

  h4 {
    font-size: 20px;
    text-align: center;
  }

  p {
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin: auto;
  }

.homepage-about-us-icon {
  margin: auto;
  margin-bottom: 10px;
  
}
#passionate-svg {
  margin: auto;
  background:linear-gradient(#979797,#ffffff) ;
  border-radius: 50%;
  align-self: center;
}
#resourceful-svg {
  margin: auto;
  background:linear-gradient(#979797,#ffffff) ;
  border-radius: 50%;
  align-self: center;
}
  #friendly-svg {
    margin: auto;
    background:linear-gradient(#979797,#ffffff) ;
    border-radius: 50%;
    align-self: center;
  }

.lets-talk-container {

  background-color: #e7816b;
  color: #ffffff;
  width: 90%;
  border-radius: 10px;
  margin: auto;
  padding-top: 55px;
  padding-bottom: 55px;
  margin-bottom: -70px;
  position: relative;
  z-index: 1;
}

 h3 {
  font-size: 42px;
  font-weight: normal;
  text-align: center;
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
 }

 .lets-talk-p {
  font-size: 16px;
  width: 60%;
  margin-bottom: 30px;
 }

 .getInTouchBtn {
  width: 152px;
  height: 60px;
  font-size: 16px;
  border-radius: 15px;
  border: none;
  display: block;
  margin: 0 auto;
 }

 footer {
  background-color: #333136;
  color: #ffffff;
  height: max-content;
  position: absolute;
  width: 100%;

 }

 .footer-nav {
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-flow: row wrap;
  margin: auto;
  margin-top: 90px;
  width: 95%;
 }

 .footer-h1 {
  font-size: 24px;
  float: left;
  text-align: center;
  width: 30%;
  
}

.footer-nav-btn-container {
  display: flex;
  flex-flow: row wrap;
  float: right;
  padding-left: 15px;
  padding-right: 15px;
  justify-content:space-between;
  text-align: center;
  margin: auto;

}

.footer-btn {
  font-size: 14px;
  text-align: center;
  width: max-content;
  margin-right: 10px;
  color: #ffffff;
  background-color: transparent;
  border:none;
}

.footer-bottom-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-evenly;
  padding: 20px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  height: 225px;
  width: max-content;
  font-size: 14px; 
}

.footer-icon-container {
  width: max-content;
  float:right ;
  
}
.footer-icon-btn {
  text-decoration: none;
  color: #e7816b;
  background-color: transparent;
  border: none;
}
